# --- Visual Studio / .NET ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.shellmnt
*.bak

# --- Frontend / Node ---
node_modules/
dist/
build/
.env
.env.development
.DS_Store

# --- Backend ---
appsettings.Development.json

# --- Outros ---
.vscode/ 